.navbar{
    background-color: greenyellow;
    overflow: hidden;
   
}
.parent-container{
    background-image: url("C:/html practice/HTML/image1.jpg");
     background-repeat: no-repeat; 
     height: 100%;
    background-size: cover;
}

.anchor-css {
    text-decoration: none;
    font-size: 40px;
    padding: 6px 10px;
    color: brown;
    float: left;


}
.dropdown{
    float:left;
}
.dropdown-button{
    background-color: grey;
font-size: 40px;
color: pink;
border: none;
position: relative;
top:10px;
padding: 5px 6px;
 


}
.dropdown-content{
    position: absolute;
    background-color: aqua;
    min-width: 126px;
    display: none;
    left: 350;
    top: 75;
    z-index: 1;

}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 5px 5px;
    
}
.dropdown:hover .dropdown-content{
    display: block;


}
.dropdown-contect a:hover{
    background-color: aqua;
}
a.anchor-css:hover{
    background-color: aqua;
}

.dropdown-button:hover{
    background-color: aqua;
}
.form-container{
   border: 1px solid black;
    position: relative;
    width: 365px;
    padding: 11px 10px;
    background-color: aliceblue;
    font-size: 21px;
    font-family: monospace;
    text-align: center;
    margin-left:130px;
    
}

.sbt-btn{
    text-align: center;
    left:129px;
    top:23px;
    border-radius: 15px;
    padding:5px 5px;
    border: none;
    background-color: aquamarine;
}

.image{
    position:absolute;
    top: 100px;
    left: 550px;
    height: 200px;
    width: 300px;
    opacity: 1;

}
.image:hover{
    opacity: 0.7;
}

